<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>jaxbox</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>index</display-name>
    <servlet-name>index</servlet-name>
    <servlet-class>controller.IndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>index</servlet-name>
    <url-pattern>/index.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>search</display-name>
    <servlet-name>search</servlet-name>
    <servlet-class>controller.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>search</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>searchArtist</display-name>
    <servlet-name>searchArtist</servlet-name>
    <servlet-class>controller.SearchArtistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchArtist</servlet-name>
    <url-pattern>/searchartist</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>searchtrack</display-name>
    <servlet-name>searchtrack</servlet-name>
    <servlet-class>controller.SearchTrackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchtrack</servlet-name>
    <url-pattern>/searchtrack</url-pattern>
  </servlet-mapping>
</web-app>